* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5deb3;
}

.header {
    background-color: f5deb3;
    padding: 20px;
}

.main-table {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-end;
    min-height: 100vh;
}

.image {
    width: auto;
    height: 90px;
    object-fit: contain;
}

.search-bar{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor:pointer;
}

.playing-table{
    margin-bottom: 0%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;

}