* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5deb3;
}

.container {
    text-align: center;
}

.header {
    background-color: f5deb3;
    padding: 20px;
}

.main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px);
}

.image {
    width: auto;
    height: 90px;
    object-fit: contain;
    padding-right: 90%;
}