.container {
    padding: 20px;
}

table {
    width: 60%;
    max-width: 800px;
    border-collapse: collapse;
    margin-bottom: 120px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: burlywood;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}